@model ShoppingCartViewModel

<li>
    <a href="/ShoppingCart">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <span id="cart-status">
            @Model.ShoppingCart.ShoppingCartItems.Count
        </span>
    </a>
</li>